link(rel='stylesheet', href='/stylesheets/style.css')
script(type='text/javascript', src='js/libs/jquery-1.6.2.min.js')
script(type='text/javascript', src='js/mylibs/underscore-min.js')
script(type='text/javascript', src='js/mylibs/backbone.js')
script(type='text/javascript', src='js/script.js')
