!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .header
      include ../includes/header
    .menu-items
      include ../includes/menu
    .wrapper
      .sidebar-left
        include ../includes/sidebar-left
      .main-content
        block content
    .footer-content 
      include ../includes/footer
      include ../includes/foot