extends ../layouts/layout_articles

block content
  h1=article.title
  p=article.body
  
  if (article.tags)
    .tags
      | Tags :&nbsp;
      each tag in article.tags.split(',')
        a.tag(href="/tags/"+tag)
          i.icon-tags
          |  #{tag}

  p
    br
    form.center.form-inline.confirm(action="/articles/"+article.id, method="post")
      a.btn(href='/article/'+article._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  p
    br
    h2 Comments
    each comment in article.comments
      include ../comments/comment
    include ../comments/form