extends ../layouts/layout_articles

block content
  div.content-wrapper
    h1.article-title=article.title
    div.article-alter-form
      form.center.form-inline.confirm(action="/articles/"+article.id, method="post")
      a.btn.article-edit(href='/article/'+article._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      a.btn.article-delete(href='/article/'+article._id+'/delete', title="delete") Delete
    p.article-content=article.body
    
    if (article.tags)
      .tags
        | Tags :&nbsp;
        each tag in article.tags.split(',')
          a.tag(href="/tags/"+tag)
            i.icon-tags
            |  #{tag}
    p
      br
      h2 Comments
      each comment in article.comments
        include ../comments/comment
      include ../comments/form
  div