body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/slice-bg.png");
  width: 960px;
  margin: 10px auto;
}
a {
  color: #00b7ff;
}
span.logo {
  background: url("../images/blog-logo.png") no-repeat;
  display: block;
  height: 100px;
  width: 100px;
}
div.description {
  width: 250px;
  color: #fff;
  text-align: justify;
  font-size: 12px;
}
div.wrapper {
  width: 960px;
  margin: 0px auto;
}
h1#title {
  color: #fff;
}
ul.social li {
  color: #000;
  list-style: none;
  margin-bottom: 25px;
  font-size: 22px;
}
div.sidebar-left {
  width: 300px;
  float: left;
}
div.main-content {
  width: 660px;
  float: right;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.main-content li.article-title,
.main-content li.todo-task {
  font-size: 24px;
  list-style: none;
  border-bottom: 2px solid #515451;
  padding: 15px 10px 15px 10px;
}
.main-content li.article-title a,
.main-content li.todo-task a {
  color: #515451;
  text-decoration: none;
}
.main-content li.article-title span.comment-count {
  float: right;
}
.main-content .article-list {
  min-height: 600px;
}
.main-content li.article-title:hover,
.main-content li.todo-task:hover {
  background-color: #b9d1c2;
  color: #000;
}
.main-content li.article-title.first:hover,
.main-content li.todo-task.first:hover {
  background-color: #b9d1c2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000;
}
.main-content li.article-title.last:hover {
  background-color: #b9d1c2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000;
}
div.footer-content {
  clear: both;
  text-align: center;
  border-top: 2px solid #000;
  padding-top: 10px;
}
div.main-content-edit {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
li.social a {
  color: #000;
  text-decoration: none;
}
li.social a:hover {
  color: #fff;
  text-decoration: none;
}
div.content-wrapper {
  margin: 10px 10px 10px 10px;
}
h1.article-title {
  text-transform: capitalize;
  color: #515451;
}
div.content-wrapper .article-content {
  text-align: justify;
  font-size: 14px;
}
textarea#comment {
  width: 100%;
}
div.content-wrapper .tags a.tag {
  color: #515451;
  text-decoration: none;
}
div.content-wrapper .tags a.tag:hover {
  color: #000;
  text-decoration: none;
}
div.content-wrapper .comment {
  margin-bottom: 20px;
}
div.main-content-edit {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}
div.control-group {
  margin-bottom: 20px;
}
div.control-group label {
  font-size: 20px;
  font-weight: bold;
}
div.control-group input[type="text"] {
  height: 25px;
  font-size: 18px;
}
div.controls input,
div.controls textarea {
  margin-top: 10px;
  width: 100%;
}
div.controls textarea#desc {
  height: 200px;
}
div.article-alter-form {
  background-color: #b9d1c2;
  padding: 5px 10px;
}
div.article-alter-form a {
  color: #515451;
  text-decoration: none;
}
div.article-alter-form a:hover {
  background-color: #fff;
}
div.no-content {
  font-size: 20px;
  margin: 10px 10px 10px 10px;
}
.main-content .todo-list {
  min-height: 600px;
}
a.edit-task {
  float: right;
  margin-right: 15px;
}
a.delete-task {
  float: right;
}
ul.menu-items {
  float: right;
}
li.menu-item {
  float: left;
  list-style: none;
}
a {
  text-decoration: none;
}
a.menu-link {
  font-size: 24px;
  color: #515451;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}
li.menu-item.first a.menu-link {
  margin-left: 0px;
}
