body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/slice-bg.png");
  width: 960px;
  margin: 10px auto;
}
a {
  color: #00b7ff;
}
span.logo {
  background: url("../images/blog-logo.png") no-repeat;
  display: block;
  height: 100px;
  width: 100px;
}
div.description {
  width: 250px;
  color: #fff;
  text-align: justify;
  font-size: 12px;
}
div.wrapper {
  width: 960px;
  margin: 0px auto;
}
h1#title {
  color: #fff;
}
ul.social li {
  color: #000;
  list-style: none;
  margin-bottom: 25px;
  font-size: 22px;
}
div.sidebar-left {
  width: 300px;
  float: left;
}
div.main-content {
  width: 660px;
  float: right;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.main-content li.article-title {
  font-size: 24px;
  list-style: none;
  border-bottom: 2px solid #515451;
  padding: 15px 10px 15px 10px;
}
.main-content li.article-title a {
  color: #515451;
  text-decoration: none;
}
.main-content li.article-title span.comment-count {
  float: right;
}
.main-content .article-list {
  min-height: 600px;
}
.main-content li.article-title:hover {
  background-color: #b9d1c2;
  color: #000;
}
.main-content li.article-title.first:hover {
  background-color: #b9d1c2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000;
}
.main-content li.article-title.last:hover {
  background-color: #b9d1c2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000;
}
div.footer-content {
  clear: both;
  text-align: center;
  border-top: 2px solid #000;
  padding-top: 10px;
}
div.main-content-edit {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
li.social a {
  color: #000;
  text-decoration: none; 
}
li.social a:hover {
  color: #fff;
  text-decoration: none; 
}